* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TT Norms Pro";
    color: white;
    cursor: default;
}

body {
    background-color: #010202;
    max-width: 100vw;
}

a {
    text-decoration: none;
    cursor: pointer;
}

:not(body, html)::-webkit-scrollbar { 
    width: 3px; 
    height: 3px;
}
:not(body, html)::-webkit-scrollbar-thumb { 
    width: 3px;
    border-radius: 3px;
    background-color: #006cff;
}

:not(body, html)::-webkit-scrollbar-track {
    background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 30%,
    #1d2235 50%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0) 100%);
}

.preloader__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10000;
    transition: 0.3s 0.4s;
}

  .preloader__wrapper svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.hidden {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "header"
                          "main";
    padding: 20px 30px;
}

.header {
    display: flex;
    grid-area: header;
    margin-bottom: 10px;
    justify-content: space-between;
}

.header__nav {
    display: flex;
}

.header__nav_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 126px;
    height: 42px;
    background-color: #07090b;
    border-radius: 10px;
    margin-right: 10px;
}

.header__nav_profile div {
    display: flex;
    flex-direction: column;
}

.header__nav_profile img {
    max-width: 30px;
    max-height: 30px;
    margin-left: 6px;
}

.header__nav_profile-nickname {
    font-size: 14px;
    color: white;
}

.header__nav_profile-premium {
    font-size: 10px;
    color: #ffc809;
}

.header__nav_profile-button {
    width: 0;
    height: 0;
    margin: 3px 6px 0 0;
    border: 3px solid transparent;
    border-top: 5px solid #b8b8b8;
    background-color: transparent;
}

.header__nav_profile-button:hover {
    margin: 0 6px 6px 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #b8b8b8;
}

.header__nav_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__nav_menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background-color: #07090b;
    border-radius: 10px;
    margin-right: 10px;
}

.header__nav_menu-button.local {
    width: 60px;
    font-size: 14px;
}

.header__nav_menu-button.local img {
    width: auto;
    height: 11px;
    margin-left: 5px;
}

.header__nav_menu-button:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #1f212c, #07090b);
    border: 1px solid #1f212c;
}

.header__nav_menu-button img {
    max-height: 20px;
    max-width: 20px;
    cursor: pointer;
}

.header__nav_menu-button.premium {
    position: relative;
}

.header__nav_menu-button.premium:hover {
    border: 1px solid #ff880044;
    animation: button-gradient 0.2s linear forwards infinite;
}

.header__nav_menu-button.premium:hover img{
    filter: drop-shadow(0 0 10px black);
}

.header__nav_menu-button.premium img {
    position: absolute;
}

.header__nav_menu-button.premium img:last-child {
    opacity: 0;
    transition: all 0.5s ease;
    animation: star-gradient 1s linear infinite;
}

@keyframes star-gradient {
    0% { opacity: 0; }
    50% { opacity: 100%; }
    100% { opacity: 0; }
}

@keyframes button-gradient {
    0% { background: #07090b;
        box-shadow: -45px -45px 45px -45px #ff880044 inset;}
    12.5% {background: #07090b;
        box-shadow: 0 -45px 45px -45px #ff880044 inset;}
    25% {background: #07090b;
        box-shadow: 45px -45px 45px -45px #ff880044 inset;}
    37.5% {background: #07090b;
        box-shadow: 45px 0 45px -45px #ff880044 inset;}
    50% { background: #07090b;
        box-shadow: 45px 45px 45px -45px #ff880044 inset;}
    62.5% {background: #07090b;
        box-shadow: 0 45px 45px -45px #ff880044 inset;}
    75% { background: #07090b;
        box-shadow: -45px 45px 45px -45px #ff880044 inset;}
    87.5% {background: #07090b;
        box-shadow: -45px 0 45px -45px #ff880044 inset;}
    100% { background: #07090b;
        box-shadow: -45px -45px 45px -45px #ff880044 inset;}
}

@keyframes button-gradient1 {
    0% { background: linear-gradient(45deg, #07090b, #ff880044);}
    25% {background: linear-gradient(135deg, #07090b, #ff880044);}
    50% {background: linear-gradient(225deg, #07090b, #ff880044);}
    75% { background: linear-gradient(315deg, #07090b, #ff880044);}
    100% { background: linear-gradient(455deg, #07090b, #ff880044);}
}

.header__nav_menu-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 25px;
    color: white;
    border: 1px solid #0099fa;
    border-radius: 5px;
    text-decoration: none;
    font-size: 11pt;
    background: linear-gradient(40deg, rgba(11, 186, 251, 0.5), rgba(66, 133, 236, 0.5));
    margin-left: 10px;
}

.header__nav_menu-signin:hover {
    background: linear-gradient(40deg, rgba(11, 186, 251), rgba(66, 133, 236));
    box-shadow: 0 0 27px 3px rgba(0, 131, 253, 0.5);
}

.header__social {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__social img {
    margin-left: 15px;
    max-width: 20px;
    max-height: 20px;
}

.header__social img:last-child {
    max-width: 86px;
    max-height: 100%;
    margin-left: 30px;
}

.header__social {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.main {
    display: grid;
    grid-area: main;
    grid-template-columns: 3fr 16fr;
    grid-template-areas: "sidebar content";
    margin: 10px 0;
}

.sidebar {
    grid-area: sidebar;
    height: calc(100vh - 62px);
    position: sticky;
    top: 30px;
    background: linear-gradient(to bottom, #0f1419, #07090b 20%);
    border-radius: 10px;
    margin-right: 20px;
    padding: 15px 10px 15px;
}

.sidebar h1 {
    font-weight: normal;
    padding-left: 10px;
}

hr {
    border: 0;
    height: 1px;
    margin: 10px 5px;
    background: #192129;
}

.sidebar__info,
.sidebar__news {
    height: 162px;
    margin: 10px 0;
    overflow-y: scroll;
}

.sidebar__news {
    height: 324px;
}

.sidebar__news_item,
.sidebar__info_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border: 1px solid transparent;
    margin-right: 10px;
}

.sidebar__news_item:hover,
.sidebar__info_item:hover {
    background: linear-gradient(to right, #1d2227, #0a0a0b);
    border: 1px solid #2a2a2a;
    border-radius: 10px;
}

.sidebar__news_item img {
    max-width: 32px;
    max-height: 32px;
    border-radius: 5px;
}

.sidebar__news_info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    white-space: nowrap;
}

.sidebar__news_info-event {
    font-size: 14px;
    color: #b0b0b0;
}

.sidebar__news_info div {
    font-size: 12px;
    color: #8489a0;
}

.sidebar__news_info-teamname {
    font-size: 12px;
    color: #006cff;
}

.sidebar__advice {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #24272f, #121320);
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #192129;
    border-radius: 10px;
}

h3 {
    font-size: 18px;
}

.sidebar__advice p {
    color: #8489a0;
    margin: 5px 0;
    line-height: 1;
    font-size: 10pt;
}

.content {
    grid-area: content;
    background-color: #07090b;
    border-radius: 10px;
    margin-left: 20px;
    padding: 15px 20px;
}

.content__slider_slide,
.content__events,
.content__results,
.content__best,
.content__partners,
.content__record {
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
}

.content__partners {
    padding-bottom: 15px;
}

.content__events_wrapper,
.content__results_wrapper,
.content__best_wrapper,
.content__best_columns,
.content__best_players-data,
.content__partners_pics,
.content__record_pics {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
}

.content__events_item,
.content__results_match-wrapper,
.content__best_players,
.content__best_teams {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 10px;
    margin-right: 20px;
    border: 1px solid #14161f;
    border-radius: 10px;
    background: radial-gradient(circle farthest-corner at top left, #0d223b, #07090b 25%);
}

.content__slider {
    position: relative;
    height: 370px;
}

.content__slider_slide {
    position: absolute;
    width: -webkit-fill-available;
    height: 385px;
    margin: -15px -20px 0;
    transition: opacity 1s ease-in;
    opacity: 0;
}

.content__slider_dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
    overflow: hidden;
}

.content__slider_dots-dot {
    width: 10px;
    height: 10px;
    margin: 5px 14px 5px 0;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 13px 1px rgb(255 255 255 / 11%);
    background-color: #4391e0;
}

.content__slider_dots-dot:last-child {
    margin-right: 0;
}

.content__slider_cover {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content__slider_gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #07090b, #07090b00 40%);
    z-index: 2;
}

.content__slider_info,
.content__header_info {
    padding: 55px 35px 35px;
    z-index: 3;
}

.content__slider_type {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    z-index: 1;
}

.content__slider_type div {
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: linear-gradient(to right, rgba(11, 186, 251, 0.7), rgba(66, 133, 236, 0.7));
    border: 1px solid #0099fa;
    border-radius: 4px;
    font-size: 18px;
    height: 26px;
    margin-right: 10px;
}

div.content__slider_type-live {
    font-size: 14px;
    background: #ff0540;
    border: 1px solid transparent;
    padding: 0 10px;
}

.content__slider_event-name,
.content__header_event-name {
    font-size: 48px;
    font-weight: bold;
    z-index: 1;
}

.content__slider_event-date,
.content__header_event-date {
    display: flex;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: normal;
    z-index: 1;
}

.content__slider_join-button {
    display: flex;
    width: 13%;
    padding: 3px 0;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    border: 1px solid #0099fa;
    border-radius: 5px;
    background: linear-gradient(40deg, rgba(11, 186, 251, 0.5), rgba(66, 133, 236, 0.5));
    box-shadow: 0 0 27px rgba(0, 131, 253, 0.5);
    z-index: 1;
}

.content__slider_join-button:hover {
    background: linear-gradient(40deg, rgba(11, 186, 251, 1), rgba(66, 133, 236, 1));
}

.content__slider_tags {
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.content__slider_tags div {
    display: flex;
    align-items: center;
    background: rgba(28, 28, 28, 0.65);
    border-radius: 5px;
    font-size: 16px;
    height: 22px;
    padding: 0 10px;
    margin-right: 5px;
}

.content__results_match-wrapper {
    background: radial-gradient(circle farthest-corner at top left, #0d223b, #07090b 35%);
}

.content__events_item {
    padding: 0;
    background: radial-gradient(circle farthest-corner at bottom right, #0d223b, #07090b 25%);
}

.content__events_item-desc {
    padding: 0 20px 10px 20px;
}

.content__events_item:last-child {
    margin-right: 0;
}

.content__events_item-cover {
    border-radius: 10px;
    width: 100%;
}

.content__events_item-header,
.content__events_item-names,
.content__events_item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.content__events_item-header {
    margin-top: -30px;
}

.content__events_item-tags span {
    font-size: 14px;
    background-color: rgba(28, 28, 28, 0.65);
    border: 1px solid #1f1f1f;
    border-radius: 4px;
    text-align: center;
    padding: 1px 5px 3px;
}

.content__events_item-platforms {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content__events_item-platforms div {
    position: relative;
    background-color: rgba(35, 54, 141, 0.5);
    border: 1px solid rgba(15, 50, 140, 0.8);
    border-radius: 3.5px;
    height: 20px;
    font-size: 12px;
    padding: 3px;
    margin-left: 3px;
}

.content__events_item-platforms div img {
    height: 12px;
}

.content__events_item-platforms div::after {
    content: attr(platform-hint);
    display: none;
}

.content__events_item-platforms div:hover::after {
    display: block;
    position: absolute;
    bottom: 110%;
    left: 100%;
    font-size: 12px;
    padding: 3px;
    color: #8489a0;
    background-color: #12181f;
    border: 1px solid #192129;
    border-radius: 6px;
    z-index: 1;
}

.content__events_item-winner {
    display: flex;
    color: #a1a4b7;
    font-size: 12px;
    align-items: center;
}

.content__events_item-winner img {
    height: 15px;
    filter: drop-shadow(0 0 9px #0083fd59);
    margin-left: 6px;
}

.content__events_item-name {
    font-size: 18px;
    font-weight: bold;
}

.content__events_item-status.registration {
    color: #00cbf6;
}

.content__events_item-status.registrated {
    color: #84ca20;
}

.content__events_item-status.closed {
    color: #ff0042;
}

.content__events_item-status,
.content__events_item-date time:last-child,
.content__events_item-reward span:last-child,
.content__events_item-map span:last-child {
    font-size: 12px;
    color: #8489a0;
}

.content__events_item-date time,
.content__events_item-reward span,
.content__events_item-map span {
    font-size: 16px;
}

.content__events_item-date,
.content__events_item-reward,
.content__events_item-map {
    display: flex;
    flex-direction: column;
}

.content__events_item-players,
.content__events_item-slots,
.content__events_item-details {
    display: flex;
    align-items: center;
}

.content__events_item-date,
.content__events_item-reward,
.content__events_item-players,
.content__events_item-slots {
    flex-basis: 26%;
}

.content__events_item-map,
.content__events_item-details {
    flex-basis: 38%;
}

.content__events_item-players {
    padding: 2px 0 2px 20px;
    background: linear-gradient(to left, #1b5fbb, #1b5ebb00);
    border-radius: 8px;
}

.content__events_item-players img {
    margin-left: -20px;
    filter: drop-shadow(0 0 9px #22232c);
}

.content__events_item-players img:first-child {
    filter: none;
}

.content__events_item-players span {
    margin: 0 10px;
}

.content__events_item-slots {
    color: #15a1db;
}

.content__events_item-details {
    background: linear-gradient(40deg, #29468d, #0149b6);
    border: 1px solid #0099fa;
    border-radius: 5px;
    justify-content: center;
}

.content__results_match-wrapper:last-child,
.content__best_players:last-child,
.content__best_teams:last-child {
    margin-right: 0;
}

.content__results_match,
.content__results_footer {
    display: flex;
    padding: 0 6px;
    justify-content: space-between;
}

.content__results_match {
    margin-bottom: 10px;
}

.content__results_teams {
    height: 115px;
    overflow-y: scroll;
    margin-right: 6px;
}

.content__results_team {
    display: flex;
    border: 1px solid transparent;
    padding: 6px 12px;
    margin: 5px 0;
    margin-right: 10px;
}

.content__results_team-info {
    display: flex;
    flex-basis: 35%;
    font-size: 16px;
}

.content__results_team-position {
    width: 10px;
}

.content__results_team-name {
    margin-left: 12px;
}

.content__results_team-statistics {
    display: flex;
    flex-basis: 65%;
}

.content__results_footer{
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.content__results_team-statistics span {
    font-size: 14px;
    color: #8489a0;
    width: calc(100% / 3);
    white-space: nowrap;
    flex-shrink: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content__results_footer-button {
    padding: 5px 7px;
    background: linear-gradient(40deg, #29468d, #0149b6);
    border: 1px solid #0099fa;
    border-radius: 5px;
}

.content__best_players h3,
.content__best_teams h3 {
    padding-left: 6px;
}

.content__best_columns,
.content__best_players-data {
    margin-top: 5px;
    align-items: center;
}

.content__best_players-data {
    padding: 6px;
    border: 1px solid transparent;
}

.content__results_team:hover,
.content__best_players-data:hover {
    background: linear-gradient(to left, #0a0a0b, #2a4791);
    border-radius: 9px;
    border: 1px solid #1d538c;
}

.content__best_players-info p {
    font-size: 14px;
}

.content__best_players-info span {
    font-size: 9px;
    color: #8489a0;
}

.content__best_players-stat {
    display: flex;
    flex-direction: row;
}

.content__best_players-stat p {
    font-size: 12px;
    color: #8489a0;
    margin-right: 12px;
    white-space: nowrap;
}

.content__best_players-data img {
    max-height: 30px;
    max-width: 30px;
    border-radius: 8.5px;
    margin-right: 6px;
    border: 2px solid transparent;
}

.content__best_players-data:hover img {
    border: 2px solid #faa500;
}

.content__record_header {
    display: flex;
    justify-content: space-between;
}

.arrow::after {
    content: url('../images/right-arrow.png');
    margin-left: 5px;
    display: inline-block;
}

.content__record_pics a {    
    display: flex;
    position: relative;
    margin-right: 10px;
}

.content__record_pics a:last-child {
    margin-right: 0;
}

.content__record_pics a img {
    width: 100%;
}

.content__partners_pics a {
    display: flex;
    margin-right: 20px;
}

.content__partners_pics a:last-child {
    margin-right: 0;
}

.content__partners_pics img {    
    max-height: 265px;
    width: 100%;
    border: 1px solid #14161f;
}

.content__partners_pics img,
.content__record_pics img {
    border-radius: 10px;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 85px;
    background-color: #07090b;
    border: 1px solid #14161f;
    border-radius: 10px;
    margin: 20px 0;
}

.footer p {
    text-align: center;
    font-size: 12px;
}

.content__header {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    height: auto;
    width: -webkit-fill-available;
    margin: -15px -20px 0;
    overflow: hidden;
}

.content__header_info.groups {
    padding: 35px;
}

.content__header_live {
    display: flex;
    width: fit-content;
    align-items: center;
    border-radius: 4px;
    height: 26px;
    margin-right: 10px;
    font-size: 14px;
    background: #ff0540;
    border: 1px solid transparent;
    padding: 0 10px;
}

.content__header_groups {
    margin-top: 100px;
}

.content__header_groups-group {
    padding: 3px 10px;
    margin-right: 15px;
    background: linear-gradient(40deg, #29468d80, #4285ec80);
    border: 1px solid #0099fa;
    border-radius: 10px;
}

.content__header_groups-group:hover {
    background: linear-gradient(40deg, #29468d, #4285ec);
}

.content__header_groups-group.active {
    background: linear-gradient(40deg, #0bbafb, #4285ec);
}

.content__results.groups,
.content__best.groups {
    padding-bottom: 10px;
}

.content__results_match-wrapper.groups,
.content__best_players.groups {
    padding: 10px 20px;
}

.content__results_teams.groups {
    height: 190px;
    margin-bottom: 10px;
}