@font-face {
    font-family: "TT Norms Pro";
    font-style: normal;
    font-weight: 400;
    src: local("TT Norms Pro Regular"),
      url("../fonts/TT Norms Pro Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: "TT Norms Pro";
    font-style: italic;
    font-weight: 400;
    src: local("TT Norms Pro Italic"),
      url("../fonts/TT Norms Pro Italic.woff") format("woff");
  }
  
  @font-face {
    font-family: "TT Norms Pro";
    font-style: normal;
    font-weight: 100;
    src: local("TT Norms Pro Thin"),
      url("../fonts/TT Norms Pro Thin.woff") format("woff");
  }
  
  @font-face {
    font-family: "TT Norms Pro Thin";
    font-style: italic;
    font-weight: 100;
    src: local("TT Norms Pro Thin Italic"),
      url("../fonts/TT Norms Pro Thin Italic.woff") format("woff");
  }
  
  @font-face {
    font-family: "TT Norms Pro";
    font-style: normal;
    font-weight: 200;
    src: local("TT Norms Pro ExtraLight"),
      url("../fonts/TT Norms Pro ExtraLight.woff") format("woff");
  }
  
  @font-face {
    font-family: "TT Norms Pro";
    font-style: italic;
    font-weight: 200;
    src: local("TT Norms Pro ExtraLight Italic"),
      url("../fonts/TT Norms Pro ExtraLight Italic.woff") format("woff");
  }
  
  @font-face {
    font-family: "TT Norms Pro";
    font-style: normal;
    font-weight: 300;
    src: local("TT Norms Pro Light"),
      url("TT Norms Pro Light.woff") format("woff");
  }
  
  @font-face {
    font-family: "TT Norms Pro";
    font-style: italic;
    font-weight: 300;
    src: local("TT Norms Pro Light Italic"),
      url("TT Norms Pro Light Italic.woff") format("woff");
  }
  
  @font-face {
    font-family: "TT Norms Pro";
    font-style: normal;
    font-weight: 500;
    src: local("TT Norms Pro Medium"),
      url("../fonts/TT Norms Pro Medium.woff") format("woff");
  }
  
  @font-face {
    font-family: "TT Norms Pro";
    font-style: italic;
    font-weight: 500;
    src: local("TT Norms Pro Medium Italic"),
      url("../fonts/TT Norms Pro Medium Italic.woff") format("woff");
  }
  
  @font-face {
    font-family: "TT Norms Pro";
    font-style: normal;
    font-weight: 600;
    src: local("TT Norms Pro Bold"),
      url("../fonts/TT Norms Pro Bold.woff") format("woff");
  }
  
  @font-face {
    font-family: "TT Norms Pro";
    font-style: italic;
    font-weight: 600;
    src: local("TT Norms Pro Bold Italic"),
      url("../fonts/TT Norms Pro Bold Italic.woff") format("woff");
  }
  
  @font-face {
    font-family: "TT Norms Pro";
    font-style: normal;
    font-weight: 700;
    src: local("TT Norms Pro ExtraBold"),
      url("../fonts/TT Norms Pro ExtraBold.woff") format("woff");
  }
  
  @font-face {
    font-family: "TT Norms Pro";
    font-style: italic;
    font-weight: 700;
    src: local("TT Norms Pro ExtraBold Italic"),
      url("../fonts/TT Norms Pro ExtraBold Italic.woff") format("woff");
  }
  
  @font-face {
    font-family: "TT Norms Pro";
    font-style: normal;
    font-weight: 800;
    src: local("TT Norms Pro Black"),
      url("../fonts/TT Norms Pro Black.woff") format("woff");
  }
  
  @font-face {
    font-family: "TT Norms Pro";
    font-style: italic;
    font-weight: 800;
    src: local("TT Norms Pro Black Italic"),
      url("../fonts/TT Norms Pro Black Italic.woff") format("woff");
  }
  
  @font-face {
    font-family: "TT Norms Pro";
    font-style: normal;
    font-weight: 900;
    src: local("TT Norms Pro ExtraBlack"),
      url("../fonts/TT Norms Pro ExtraBlack.woff") format("woff");
  }
  
  @font-face {
    font-family: "TT Norms Pro";
    font-style: italic;
    font-weight: 900;
    src: local("TT Norms Pro ExtraBlack Italic"),
      url("../fonts/TT Norms Pro ExtraBlack Italic.woff") format("woff");
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TT Norms Pro";
    font-weight: 400;
    color: white;
    cursor: default;
}

body {
    background-color: #010202;
    max-width: 100vw;
}

a {
    text-decoration: none;
    cursor: pointer;
}

:not(body, html)::-webkit-scrollbar { 
    width: 3px; 
    height: 3px;
}
:not(body, html)::-webkit-scrollbar-thumb { 
    width: 3px;
    border-radius: 3px;
    background-color: #006cff;
}

:not(body, html)::-webkit-scrollbar-track {
    background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 30%,
    #1d2235 50%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0) 100%);
}

.preloader__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10000;
    transition: 0.3s 0.4s;
}

  .preloader__wrapper svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.hidden {
    display: none;
}

.header {
    display: flex;
    position: fixed;
    bottom: 0;
    background: rgba(69, 69, 69, 0.56);
    backdrop-filter: blur(15px);
    border-radius: 17px 17px 0 0;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
}

.header__nav {
    display: flex;
    width: 100%;
}

.header__nav_profile {
    display: flex;
    position: relative;
    margin-right: 10px;
}

.header__nav_profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 42px;
    cursor: pointer;
    z-index: 1;
}

.header__nav_profile-info div {
    display: none;
}

.header__nav_profile-info img {
    max-width: 25px;
    max-height: 25px;
    margin-left: 6px;
    cursor: pointer;
    border-radius: 50%;
}

.header__nav_profile-button {
    display: none;
}

.header__nav_profile-menu {
    display: none;
}

.header__nav_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: space-around;
}

.header__nav_menu-button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin-right: 10px;
}

.header__nav_menu-button.local {
    display: none;
}

.header__nav_menu-button img {
    max-height: 20px;
    cursor: pointer;
}

.header__nav_menu-button img.list {
    max-width: 20px;
}

.header__nav_menu-button.profile {
    display: none;
}

.header__nav_menu-notifications {
    display: none;
}

.header__nav_menu-notifications-counter {
    display: none;
}

.header__nav_menu-button.premium {
    display: none;
}

.header__nav_menu-signin {
    display: none;
}

.header__social {
    display: none;
}

.main {
    display: flex;
}

.sidebar {
    display: none;
}

h3,
.content__best_title {
    font-size: 18px;
    font-weight: 600;
}

.content {
    padding: 40px 15px 95px;
    background-color: #000;
    width: 100%;
}

.content__slider_slide,
.content__events,
.content__results,
.content__best,
.content__partners,
.content__record {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.content__events_wrapper,
.content__results_wrapper,
.content__best_wrapper,
.content__best_columns,
.content__best_players-data,
.content__partners_pics,
.content__record_pics {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 15px;
    justify-content: space-between;
}

.content__events_item,
.content__results_match-wrapper,
.content__best_players,
.content__best_teams {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-right: 50px;
    border: 1px solid #14161f;
    border-radius: 10px;
    background: radial-gradient(circle farthest-corner at top left, #0d223b, #07090b 25%);
}

.content__results_match-wrapper,
.content__best_players,
.content__best_teams {
    background: radial-gradient(64.11% 64.11% at 97.55% 126.07%, #1B2530 0%, rgba(35, 35, 35, 0) 100%), #07090B;
    border: 1px solid #292D3E;
}

.content__slider {
    position: relative;
    width: 100%;
    min-height: 185px;
}

.content__slider_slide {
    position: absolute;
    width: 100%;
    height: 185px;
    transition: opacity 1s ease-in;
    opacity: 0;
}

.content__slider_dots {
    display: none;
}

.content__slider_cover {
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content__slider_gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to top, #07090b, #07090b00 40%);
    z-index: 2;
}

.content__slider_info {
    padding: 10px;
    z-index: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__slider_type {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    z-index: 1;
}

.content__slider_type div {
    display: flex;
    align-items: center;
    padding: 3px 5px;
    background: linear-gradient(to right, rgba(11, 186, 251, 0.7), rgba(66, 133, 236, 0.7));
    border: 1px solid #0099fa;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
}

div.content__slider_type-live {
    font-size: 12px;
    background: #FF003D;
    border: 1px solid transparent;
    padding: 3px 10px;
}

.content__slider_event-name,
.content__header_event-name {
    font-size: 18px;
    font-weight: 600;
    z-index: 1;
}

.content__slider_event-date,
.content__header_event-date {
    display: flex;
    margin-bottom: 57px;
    font-size: 14px;
    z-index: 1;
}

.content__slider_join-button {
    display: none;
}

.content__slider_tags {
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.content__slider_tags div {
    display: flex;
    align-items: center;
    background: rgba(28, 28, 28, 0.65);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
    padding: 3px 5px;
    margin-right: 10px;
}

.content__events h3 {
    margin-top: 15px;
}

.content__events_item {
    padding: 0;
    margin: 0 0 15px 0;
    background: radial-gradient(64.11% 64.11% at 97.55% 126.07%, #254C7A 0%, rgba(35, 35, 35, 0) 100%), #07090B;
    border: 1px solid #292D3E;
    opacity: 1;
    height: auto;
    transition: opacity .3s, height .3s;
}

.content__events_item:last-child {
    margin-bottom: 0;
}

.content__events_item-more {
    font-size: 14px;
    color: #0788FF;
    margin-bottom: 15px;
}

.content__events_item-hidden {
    height: 0;
    margin: 0;
    opacity: 0;
    z-index: -1;
}

.content__events_item-desc {
    padding: 0 15px 15px;
}

.content__events_item-cover {
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

.content__events_item-header,
.content__events_item-names,
.content__events_item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.content__events_item-header {
    margin-top: -30px;
    margin-left: -5px;
}

.content__events_item-tags span {
    font-size: 12px;
    background-color: #272727;
    border-radius: 5px;
    text-align: center;
    padding: 1px 5px 3px;
    margin-right: 6px;
}

.content__events_item-platforms {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content__events_item-platforms div {
    position: relative;
    background-color: rgba(35, 54, 141, 0.5);
    border: 1px solid rgba(15, 50, 140, 0.8);
    border-radius: 3.5px;
    height: 20px;
    font-size: 12px;
    padding: 3px;
    margin-left: 3px;
}

.content__events_item-platforms div img {
    height: 12px;
}

.content__events_item-platforms div::after {
    content: attr(platform-hint);
    display: none;
}

.content__events_item-platforms div:hover::after {
    display: block;
    position: absolute;
    bottom: 110%;
    left: 100%;
    font-size: 12px;
    padding: 3px;
    color: #8489a0;
    background-color: #12181f;
    border: 1px solid #192129;
    border-radius: 6px;
    z-index: 1;
}

.content__events_item-winner {
    display: flex;
    color: #a1a4b7;
    font-size: 12px;
    align-items: center;
}

.content__events_item-winner img {
    height: 15px;
    filter: drop-shadow(0 0 9px #0083fd59);
    margin-left: 6px;
}

.content__events_item-name {
    font-size: 14px;
    font-weight: 600;
}

.content__events_item-status.registration {
    color: #00cbf6;
}

.content__events_item-status.registrated {
    color: #84ca20;
}

.content__events_item-status.closed {
    color: #ff0042;
}

.content__events_item-status {
    font-weight: 500;
}

.content__events_item-status,
.content__events_item-date time:last-child,
.content__events_item-reward span:last-child,
.content__events_item-map span:last-child {
    font-size: 14px;
    color: #8489a0;
}

.content__events_item-status {
    font-size: 12px;
}

.content__events_item-date time,
.content__events_item-reward span,
.content__events_item-map span {
    font-size: 14px;
}

.content__events_item-date,
.content__events_item-reward,
.content__events_item-map {
    display: flex;
    flex-direction: column;
}

.content__events_item-players,
.content__events_item-slots {
    display: none;
    align-items: center;
}

.content__events_item-players {
    padding: 2px 0 2px 20px;
    background: linear-gradient(to left, #1b5fbb, #1b5ebb00);
    border-radius: 8px;
}

.content__events_item-players img {
    margin-left: -20px;
    filter: drop-shadow(0 0 9px #22232c);
}

.content__events_item-players img:first-child {
    filter: none;
}

.content__events_item-players span {
    font-weight: 500;
    margin: 0 10px;
}

.content__events_item-slots {
    font-weight: 500;
    color: #15a1db;
}

.content__events_item-details {
    display: flex;
    align-items: center;
    font-size: 18px;
    background: #0060FF;
    border-radius: 5px;
    height: 41px;
    width: 100%;
    justify-content: center;
}

.content__best_players:last-child,
.content__best_teams:last-child {
    margin-right: 0;
}

.content__results_match-wrapper:last-child {
    display: none;
}

.content__results_match,
.content__results_footer {
    display: flex;
    padding: 0 6px;
    justify-content: space-between;
}

.content__results h3 {
    display: none;
}

.content__results_wrapper {
    margin-top: 0;
}

.content__results_match {
    margin-bottom: 10px;
}

.content__results_match div {
    font-size: 18px;
    font-weight: 600;
}

.content__results_team {
    display: flex;
    border: 1px solid transparent;
    padding: 6px 12px;
    margin-top: 10px;
    z-index: 2;
    background: linear-gradient(90deg, #0E0E0E 0%, #191919 100%);
    border-radius: 5px;
}

.content__results_team:first-child {
    margin-top: 0;
}

.content__results_team-info {
    display: flex;
    flex-basis: 40%;
    font-size: 12px;
}

.content__results_team-position {
    width: 10px;
}

.content__results_team-name {
    margin-left: 12px;
}

.content__results_team-statistics {
    display: flex;
    flex-basis: 60%;
}

.content__results_team-list {
    display: flex;
    opacity: 0;
    background: linear-gradient(to right, #12181f, #0a0a0b);
    margin: 0 15px;
    padding: 0 10px;
    border: 1px solid #2a2a2a;
    border-top: none;
    border-radius: 0 0 5px 5px;
    height: 0;
    align-items: center;
    z-index: 1;
}

.content__results_team-list img {
    width: 32px;
    object-fit: contain;
    border-radius: 10px;
    height: 0;
}

.content__results_team-list img.opened {
    height: auto;
}

.content__results_team-teammates {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
}

.content__results_team-teammate {
    display: flex;
    flex-direction: row;
    height: 0;
    padding: 3px 5px;
    margin: 0 5px;
    border-radius: 4px;
}

.content__results_team-teammate:hover {
    background: linear-gradient(to right, #232e3c, #161619);
}

.content__results_team-teammate:first-child {
    margin-top: 2px;
}

.content__results_team-teammate:last-child {
    margin-bottom: 2px;
}

.content__results_team-teammate-name {
    flex-basis: 50%;
}

.content__results_team-teammate-damage  {
    justify-content: end;
}

.content__results_team-teammate-kills,
.content__results_team-teammate-damage {
    flex-basis: 25%;
}

.content__results_team-teammate-name,
.content__results_team-teammate-kills,
.content__results_team-teammate-damage {
    font-size: 10px;
    font-weight: 500;
    color: #8489a0;
}

.opened,
.content__best_filter-list.opened {
    opacity: 1;
    height: auto;
    transition: opacity .3s, height .3s;
}

.content__results_footer {
    align-items: center;
    margin-top: 10px;
    padding-right: 0;
    font-size: 14px;
}

.content__results_footer div {
    font-size: 18px;
    font-weight: 600;
}

.content__results_team-statistics span {
    font-size: 12px;
    color: #8489a0;
    width: calc(100% / 3);
    white-space: nowrap;
    flex-shrink: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

span.points {
    width: 37%;
}

span.damage {
    width: 37%;
}

span.kills {
    width: 26%;
}

.content__results_footer-button {
    padding: 5px 7px;
    background: #0060FF;
    border-radius: 5px;
}

.content__results_footer-button span:last-child {
    display: none;
}

.content__best h3 {
    display: none;
}

.content__best_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content__best_filter {
    position: relative;
    font-size: 12px;
}

.content__best_filter-current {
    font-weight: 600;
    cursor: pointer;
}

.content__best_filter-current::after {
    content: url(../images/list-button.svg);
    display: inline-block;
    margin: 0 2px;
    transition: transform .3s;
    transform-origin: 50% 60%;
}

.content__best_filter-button-opened.content__best_filter-current::after {
    transform: rotate(-180deg);
}

.content__best_filter-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 20px;
    background: #000000;
    border: 1px solid #2A2A2A;
    border-radius: 5px;
    padding: 7px 0;
    opacity: 0;
    height: 0;
    transition: opacity .3s, height .3s;
}

.content__best_filter-list span {
    padding: 2px 10px;
    cursor: pointer;
}

.content__best_filter-list span:hover {
    background: #12181F;
    padding: 2px 10px;
}

.content__best_wrapper {
    margin-top: 0;
}

.content__best_players {
    margin-bottom: 15px;
}

.content__best_players h3,
.content__best_teams h3 {
    padding-left: 6px;
}

.content__best_columns,
.content__best_players-data {
    margin-top: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.content__best_columns {
    margin-top: 5px;
}

.content__best_players-data {
    display: flex;
    flex-basis: 50%;
    padding: 6px;
    border: 1px solid transparent;
    justify-content: start;
    background: linear-gradient(90deg, #0E0E0E 0%, #191919 100%);
    border-radius: 5px;
    flex-direction: row;
}

.content__results_team:hover,
.content__best_players-data:hover,
.content__results_team-opened {
    background: linear-gradient(to left, #0a0a0b, #2a4791);
    border-radius: 5px;
    border: 1px solid #1d538c;
}

.content__best_players-info {
    display: flex;
    flex-direction: row;
    flex-basis: 88%;
    justify-content: space-between;
    align-items: center;
}

.content__best_players-info p {
    display: flex;
    flex-direction: column-reverse;
    font-size: 12px;
}

.content__best_players-info span {
    font-size: 12px;
    color: #8489a0;
}

.content__best_players-stat {
    display: flex;
    flex-direction: row;
}

.content__best_players-stat p {
    font-size: 12px;
    color: #8489a0;
    margin-right: 12px;
    white-space: nowrap;
}

.content__best_players-stat p:last-child {
    margin-right: 0;
}

.content__best_players-stat p span {
    display: none;
}

.content__best_players-data img {
    max-height: 30px;
    max-width: 30px;
    border-radius: 8.5px;
    margin-right: 6px;
    border: 2px solid transparent;
}

img.content__best_players-premium {
    border: 2px solid #faa500;
}

.content__record {
    display: none;
}

.content__partners {
    display: none;
}

.footer {
    display: none;
}

.content__header {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    height: auto;
    width: -webkit-fill-available;
    margin: -15px -20px 0;
    overflow: hidden;
}

.content__header_info.groups {
    padding: 35px;
}

.content__header_live {
    display: flex;
    width: fit-content;
    align-items: center;
    border-radius: 4px;
    height: 26px;
    margin-right: 10px;
    font-size: 14px;
    background: #ff0540;
    border: 1px solid transparent;
    padding: 0 10px;
}

.content__header_groups {
    margin-top: 100px;
}

.content__header_groups-group {
    padding: 3px 10px;
    margin-right: 15px;
    background: linear-gradient(40deg, #29468d80, #4285ec80);
    border: 1px solid #0099fa;
    border-radius: 10px;
}

.content__header_groups-group:hover {
    background: linear-gradient(40deg, #29468d, #4285ec);
}

.content__header_groups-group.active {
    background: linear-gradient(40deg, #0bbafb, #4285ec);
}

.content__results.groups,
.content__best.groups {
    padding-bottom: 10px;
}

.content__results_match-wrapper.groups,
.content__best_players.groups {
    padding: 10px 20px;
}

.content__results_teams.groups {
    height: 192px;
    margin-bottom: 10px;
}

.content__board {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: auto;
grid-gap: 25px 35px;
opacity: 0.99;
}

.content__board_info {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.content__board_team {
display: flex;
flex-direction: column;
background: linear-gradient(to left, #07090b, #17202c);
border-radius: 10px;
border: 1px solid #2a2a2a;
width: 100%;
padding: 5px 15px 15px;
}

.content__board_team-info {
    display: flex;
    flex-direction: row;
}

.content__board_slot {
border-radius: 0 0 6px 6px;
background: linear-gradient(to right, #29798d, #0174b6);
width: 43%;
padding: 5px;
text-align: center;
border: 1px solid #00d4fa;
border-top: none;
z-index: -1;
}

.content__board_team-logo {
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

.content__board_team-logo img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

.team__info {
    display: flex;
    flex-direction: column;
}

.team__info_squad-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.team__info_teammate, 
.team__info_name {
    line-height: initial;
    font-size: 16px;
    font-weight: 500;
}

.team__info_name {
    font-weight: 600;
    margin-bottom: 3px;
}

.first-block__text{
    margin-top: 10px;
}

.team__info_teammate {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 3px;
}

.team__info_teammate:last-child {
    margin-bottom: 0;
}

.team__info_teammate img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.hint {
    display: inline-block;
    position: relative;
}

.hint:hover::after{
    content: attr(data-hint);
    position: absolute; 
    z-index: 10001; 
    font-size: 12px;
    padding: 3px;
    color: #8489a0;
    background-color: #12181f;
    border: 1px solid #192129;
    border-radius: 6px;
    white-space: normal;
}

.verification_icon img{
    width: 11px;
    margin-left: 5px;
}