.grid-container {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "header"
                          "main";
    padding: 20px 30px;
}

.header {
    display: flex;
    grid-area: header;
    position: relative;
    margin-bottom: 10px;
    background: none;
    border-radius: 0;
    justify-content: space-between;
    z-index: 1;
}

.header__nav_profile {
    flex-direction: column;
}

.header__nav_profile-info {
    background-color: #07090b;
    border-radius: 6px;
    border: 1px solid transparent;
}

.header__nav_profile-info div {
    display: flex;
    flex-direction: column;
    padding: 0 6px;
}

.header__nav_profile-info img {
    max-width: 30px;
    max-height: 30px;
    border-radius: 5px;
}

.header__nav_profile-nickname {
    font-size: 14px;
    color: #b8b8b8;
    cursor: pointer;
}

.header__nav_profile-premium {
    font-size: 10px;
    color: #ffc809;
    cursor: pointer;
}

.header__nav_profile-button {
    display: block;
    width: 0;
    height: 0;
    margin: 3px 6px 0 0;
    border: 3px solid transparent;
    border-top: 5px solid #b8b8b8;
    background-color: transparent;
    cursor: pointer;
}

.header__nav_profile-button-opened {
    margin: 0 6px 6px 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #b8b8b8;
}

.header__nav_profile-menu {
    display: flex;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    background-color: #07090b;
    top: 100%;
    width: 100%;
    max-height: 0;
    margin-right: 10px;
    margin-top: -15px;
    padding-top: 15px;
    border-radius: 0 0 6px 6px;
    transition: opacity .3s, max-height .3s;
}

.header__nav_profile-menu a {
    font-size: 12px;
    font-weight: 400;
    color: #b8b8b8;
    border-radius: 3px;
    margin: 0 2px 2px;
    padding: 2px;
}

.header__nav_profile-menu a:hover {
    background: linear-gradient(to right, #2f3746, #121420);
}

.header__nav_profile-menu a:first-child {
    margin-top: 2px;
}

.header__nav_profile-menu-opened {
    opacity: 1;
    max-height: fit-content;
}

.header__nav_menu-button {
    background-color: #07090b;
    border: 1px solid transparent;
    border-radius: 10px;
}

.header__nav_menu-button.local {
    display: flex;
    width: 60px;
    font-size: 14px;
}

.header__nav_menu-button.local img {
    width: auto;
    height: 11px;
    margin-left: 5px;
}

.header__nav_menu-button:hover,
.header__nav_menu-button-active {
    cursor: pointer;
    background: linear-gradient(to bottom, #1f212c, #07090b);
    border: 1px solid #1f212c;
}

.header__nav_menu-notifications {
    display: block;
    position: absolute;
    background-color: #07090b;
    border: 1px solid #192129;
    border-radius: 10px;
    top: 110%;
    width: 245px;
    height: 0;
    left: -15%;
    padding: 15px 7px;
    opacity: 0;
    transition: opacity .3s, max-height .3s;
}

.header__nav_menu-notifications-opened {
    opacity: 1;
    height: 390%;
}

.header__nav_menu-notifications-wrapper {
    height: 100%;
    overflow-y: scroll;
    padding-right: 5px;
}

.header__nav_menu-notifications-counter {
    position: absolute;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #0149b6;
    top: -3px;
    right: -3px;
}

.header__nav_menu-notifications hr {
    color: #8489a0;
    height: 1px;
    margin: 4px 5px 4px 12px;
}

.header__nav_menu-notification {
    position: relative;
    color: #8489a0;
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
    margin-left: 10px;
}

.header__nav_menu-notification:hover {
    background: linear-gradient(to right, #232e3c, #0e1318);
    border-radius: 5px;
}

.header__nav_menu-notification::before {
    content: "";
    position: absolute;
    top: 45%;
    left: -10px;
    display: block;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #8489a0;
}

.new.header__nav_menu-notification::before {
    background-color: #0149b6;
}

.header__nav_menu-button.profile {
    display: flex;
}

.header__nav_menu-button.premium {
    display: flex;
    position: relative;
}

.header__nav_menu-button.premium:hover {
    border: 1px solid #ff880044;
    overflow: hidden;
}

.header__nav_menu-button.premium:hover::before {
    content: "";
    display: block;
    height: 54px;
    min-width: 54px;
    background: linear-gradient(45deg, #07090b, #ff880044);
    animation: button-gradient .8s linear infinite;
}

.header__nav_menu-button.premium:hover img{
    filter: drop-shadow(0 0 10px black);
}

.header__nav_menu-button.premium img {
    position: absolute;
}

.header__nav_menu-button.premium img:last-child {
    opacity: 0;
    transition: all 0.5s ease;
    animation: star-gradient 1s linear infinite;
}

@keyframes star-gradient {
    0% { opacity: 0; }
    50% { opacity: 100%; }
    100% { opacity: 0; }
}

@keyframes button-gradient {
    100% {
        transform: rotateZ(360deg);
      }
}

.header__nav_menu-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 25px;
    color: white;
    border: 1px solid #0099fa;
    border-radius: 5px;
    text-decoration: none;
    font-size: 11pt;
    background: linear-gradient(40deg, rgba(11, 186, 251, 0.5), rgba(66, 133, 236, 0.5));
    margin-left: 10px;
}

.header__nav_menu-signin:hover {
    background: linear-gradient(40deg, rgba(11, 186, 251), rgba(66, 133, 236));
    box-shadow: 0 0 27px 3px rgba(0, 131, 253, 0.5);
}

.header__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
}

.header__social img {
    margin-left: 30px;
    max-width: 20px;
    max-height: 20px;
}

.header__social img:last-child {
    max-width: 86px;
    max-height: 100%;
    margin-left: 30px;
}

.main {
    display: grid;
    grid-area: main;
    grid-template-columns: 3fr 16fr;
    grid-template-areas: "sidebar content";
    margin: 10px 0;
}

.sidebar {
    display: block;
    grid-area: sidebar;
    height: calc(100vh - 62px);
    position: sticky;
    top: 30px;
    background: linear-gradient(to bottom, #0f1419, #07090b 20%);
    border-radius: 10px;
    margin-right: 20px;
    padding: 15px 10px 30px;
}

.sidebar h1 {
    font-weight: 500;
    padding-left: 10px;
}

hr {
    border: 0;
    height: 1px;
    margin: 10px 5px;
    background: #192129;
}

.sidebar__info,
.sidebar__news {
    height: 182px;
    margin: 10px 0;
    overflow-y: scroll;
}

.sidebar__news {
    height: 58%;
}

.sidebar__news_item,
.sidebar__info_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 10px;
}

.sidebar__news_item:last-child,
.sidebar__info_item:last-child {
    margin-bottom: 0;
}

.sidebar__news_item:hover,
.sidebar__info_item:hover {
    background: linear-gradient(to right, #1d2227, #0a0a0b);
    border: 1px solid #2a2a2a;
    border-radius: 10px;
}

.sidebar__news_item:hover .sidebar__news_info div,
.sidebar__info_item:hover .sidebar__news_info div {
    color: #fff;
} 

.sidebar__news_item img {
    max-width: 32px;
    max-height: 32px;
    border-radius: 5px;
}

.sidebar__news_item .notification {
    position: relative;
}

.sidebar__news_item .notification::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    top: -2px;
    right: -2px;
    width: 7px;
    height: 7px;
    background-color: #0149b6;
}

.sidebar__news_item img.premium {
    border: 1px solid #faa500;
    box-shadow: 0 0 7px #ffc80999;
}

.sidebar__news_info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    white-space: nowrap;
}

.sidebar__news_info-event {
    font-weight: 500;
    font-size: 14px;
    color: #b0b0b0;
}

.sidebar__news_info div {
    font-size: 12px;
    font-weight: 400;
    color: #8489a0;
}

.sidebar__news_info .premium {
    font-size: 12px;
    font-weight: 400;
    color: #ffc809;
}

.sidebar__news_info-teamname,
.sidebar__news_info-name {
    font-size: 12px;
    font-weight: 400;
    color: #006cff;
}

.sidebar__news_info .future-event {
    color: #006cff;
}

.sidebar__advice {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 18px;
    background: linear-gradient(to right, #24272f40, #12132040);
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #192129;
    border-radius: 10px;
}

.sidebar__advice p {
    color: #8489a0;
    margin: 5px 0;
    line-height: 1;
    font-weight: 400;
    font-size: 16px;
}

.content {
    grid-area: content;
    background-color: #07090b;
    border-radius: 10px;
    margin-left: 20px;
    padding: 15px 20px;
    overflow: hidden;
}

.content__slider_slide,
.content__events,
.content__results,
.content__best,
.content__record {
    margin-bottom: 35px;
}

.content__events_wrapper,
.content__results_wrapper,
.content__best_wrapper,
.content__best_columns,
.content__best_players-data,
.content__partners_pics,
.content__record_pics {
    margin-top: 20px;
    flex-direction: row;
}

.content__slider {
    height: 370px;
}

.content__slider_slide {
    height: 385px;
    margin: -15px -20px 0;
}

.content__slider_dots {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
    overflow: hidden;
}

.content__slider_dots-dot {
    width: 10px;
    height: 10px;
    margin: 5px 14px 5px 0;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 13px 1px rgb(255 255 255 / 11%);
    background-color: #4391e0;
}

.content__slider_dots-dot:last-child {
    margin-right: 0;
}

.content__slider_cover {
    border-radius: 0;
}

.content__slider_gradient {
    border-radius: 10px;
}

.content__slider_info,
.content__header_info {
    padding: 55px 35px 35px;
}

.content__slider_type {
    margin-bottom: 20px;
}

.content__slider_type div {
    font-size: 18px;
    padding: 0 15px;
    height: 26px;
}

div.content__slider_type-live {
    font-size: 14px;
}

.content__slider_event-name,
.content__header_event-name {
    font-size: 48px;
}

.content__slider_event-date,
.content__header_event-date {
    margin-bottom: 30px;
    font-size: 24px;
}

.content__slider_join-button {
    display: flex;
    width: 13%;
    padding: 3px 0;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    border: 1px solid #0099fa;
    border-radius: 5px;
    background: linear-gradient(40deg, rgba(11, 186, 251, 0.5), rgba(66, 133, 236, 0.5));
    box-shadow: 0 0 27px rgba(0, 131, 253, 0.5);
    z-index: 1;
}

.content__slider_join-button:hover {
    background: linear-gradient(40deg, rgba(11, 186, 251, 1), rgba(66, 133, 236, 1));
}

.content__slider_tags div {
    font-size: 16px;
    height: 22px;
    padding: 0 10px;
    margin-right: 5px;
}

.content__events_item,
.content__results_match-wrapper,
.content__best_players,
.content__best_teams {
    padding: 10px 30px;
}

.content__events_item {
    margin: 0 30px 0 0;
    border: none;
    background: radial-gradient(circle farthest-corner at bottom right, #0d223b, #07090b 25%);
}

.content__events_item:last-child {
    margin-right: 0;
}

.content__events_item-header {
    margin-left: 0;
}

.content__events_item-desc {
    padding: 0 20px 10px 20px;
}

.content__events_item-tags span {
    font-size: 14px;
    margin-right: 0;
    background-color: rgba(28, 28, 28, 0.65);
    border: 1px solid #1f1f1f;
}

.content__events_item-name {
    font-size: 18px;
}

.content__events_item-date time,
.content__events_item-reward span,
.content__events_item-map span {
    font-size: 16px;
}

.content__events_item-date time:last-child,
.content__events_item-reward span:last-child,
.content__events_item-map span:last-child {
    font-size: 12px;
}

.content__events_item-date,
.content__events_item-reward,
.content__events_item-players,
.content__events_item-slots {
    flex-basis: 26%;
}

.content__events_item-map,
.content__events_item-details {
    flex-basis: 38%;
}

.content__events_item-players,
.content__events_item-slots {
    display: flex;
}

.content__events_item-details {
    background: linear-gradient(40deg, #29468d, #0149b6);
    border: 1px solid #0099fa;
    height: 33px;
    width: auto;
}

.content__results h3 {
    display: block;
}

.content__results_wrapper {
    margin-top: 15px;
}

.content__results_match-wrapper {
    background: radial-gradient(circle farthest-corner at top left, #0d223b, #07090b 35%);
    border: 1px solid #14161f;
}

.content__results_match-wrapper:last-child {
    display: flex;
    margin-right: 0;
}

.content__results_match {
    margin-bottom: 25px;
}

.content__results_match div {
    font-size: 30px;
}

.content__results_teams {
    height: 141px;
    overflow-y: scroll;
    margin-right: 6px;
}

.content__results_team {
    margin-right: 15px;
    margin-top: 20px;
    padding: 6px 12px;
    background: none;
}

.content__results_team-info {
    font-size: 16px;
}

.content__results_team-statistics span {
    font-size: 14px;
}

.content__results_team-list {
    margin: 0 30px 0 15px;
}

.content__results_team:hover,
.content__best_players-data:hover,
.content__results_team-opened {
    border-radius: 9px;
}

.content__results_footer{
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 10px;
    padding-right: 6px;
}

.content__results_footer div {
    font-size: 24px;
}

.content__results_footer-button {
    background: linear-gradient(40deg, #29468d, #0149b6);
    border: 1px solid #0099fa;
}

.content__results_footer-button span:first-child {
    display: none;
}

.content__results_footer-button span:last-child {
    display: block;
}

.content__best h3 {
    display: block;
}

.content__best_wrapper {
    margin-top: 15px;
}

.content__best_players {
    margin-bottom: 0;
}

.content__best_players,
.content__best_teams {
    border: 1px solid #14161f;
    background: radial-gradient(circle farthest-corner at top left, #0d223b, #07090b 25%);
}

.content__best_players-data {
    margin-top: 5px;
}

.content__best_players-data {
    background: none;
    flex-direction: column;
}

.content__best_players-info {
    display: block;
}

.content__best_players-info p {
    font-size: 14px;
}

.content__best_players-info span {
    font-size: 9px;
}

.content__best_players-stat p:last-child {
    margin-right: 12px;
}

.content__best_players-stat p span {
    display: inline;
    font-size: 12px;
}

.content__record {
    display: flex;
}

.content__record_header {
    display: flex;
    justify-content: space-between;
}

.content__record_header a {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.arrow::after {
    content: url('../images/right-arrow.png');
    margin-left: 5px;
    display: inline-block;
}

.content__record_pics a {    
    display: flex;
    position: relative;
    margin-right: 10px;
}

.content__record_pics a:last-child {
    margin-right: 0;
}

.content__record_pics a img {
    width: 100%;
}

.content__record_pics-overlay {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px 10px;
}

.content__record_pics-info,
.content__record_pics-info.time {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
}

.content__record_pics-info .name,
.content__record_pics-info.time {
    font-weight: 600;
}

.content__record_pics-info .name {
    font-size: 14px;
}

.content__record_pics-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #0547cae0, #0000004d 50%);
    border-radius: 10px;
}

.content__record_pics-play {
    position: absolute;
    width: 100%;
    align-self: center;
    text-align: center;
    margin-left: -10px;
    margin-top: 10px;
}

div.content__record_pics-play img {
    width: 30px;
    height: auto;
}

.content__partners {
    display: flex;
}

.content__partners_pics a {
    display: flex;
    margin-right: 20px;
    cursor: pointer;
}

.content__partners_pics a:last-child {
    margin-right: 0;
}

.content__partners_pics img {    
    max-height: 265px;
    width: 100%;
    border: 1px solid #14161f;
}

.content__partners_pics img,
.content__record_pics img {
    border-radius: 10px;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 85px;
    background-color: #07090b;
    border: 1px solid #14161f;
    border-radius: 10px;
    margin: 20px 0;
}

.footer p {
    text-align: center;
    font-size: 12px;
}

.content__header {
    margin: -15px -20px 0;
}

.content__header_info.groups {
    padding: 35px;
}

.content__header_groups-group {
    display: inline;
    padding: 3px 10px;
    margin-right: 15px;
    background: linear-gradient(40deg, #29468d80, #4285ec80);
    border: 1px solid #0099fa;
    border-radius: 10px;
}

.content__header_groups-group:hover {
    background: linear-gradient(40deg, #29468d, #4285ec);
}

.content__header_groups-group.active {
    background: linear-gradient(40deg, #0bbafb, #4285ec);
}

.content__results_teams.groups {
    height: 192px;
}

.content__results.groups,
.content__best.groups {
    padding-bottom: 10px;
}

.content__results_match-wrapper.groups,
.content__best_players.groups {
    padding: 10px 20px;
}

.content__change_button {
    display: none;
}